html {
	
}

body{
	background: hsl(0, 0%, 94%);
	color: black;
	text-align: center;
	font-family: sans-serif;
	font-size: 1.4 rem;
	line-height: 1.5;
}

h1{

}

#img-div{
	background: white;
	padding: 10px;
}

ul{
	max-width: 550px;
	margin: 0 auto 50px auto;
	text-align: left;
	line-height: 1.6;
}

li{
	margin: 16px 0;
}

blockquote{
	font-style: italic;
	max-width: 545px;
	margin: 0 auto 50px auto;
	text-align: left;
}